{% extends "auctions/layout.html" %}

{% block title %}Categories{% endblock %}

{% block body %}
    <h2>Categories</h2>
    <ul class="categories">
        {% for category in categories %}
            <li>
                {% if user.is_authenticated %}
                    <a class="category category--{{ category.name }}" href="{% url 'by_categories' category.id %}">{{ category.name }}</a>
                {% else %}
                    <span class="category category--{{ category.name }}">{{ category.name }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endblock %}